.swipeable-view
  width: 100%
  height: 30em
  overflow: hidden
  .project-images-container
    overflow: visible
    display: flex
    flex-direction: row
    height: 380px
    margin-top: 0px
    justify-content: center
    align-items: center