.contacts-section
  color: purple
  display: flex
  align-items: center
  .contactsBox
    background: $bgColor2
    min-height: $bannerHeight
    width: 100%
    .container
      display: flex
      justify-content: space-evenly
      align-items: center
      min-width: 30em
      flex-wrap: wrap
      margin: 1em 3em 1em 3em
      .contacts
        align-items: center
        justify-content: space-evenly
        flex-direction: row
        background: rgba(235,235,235,.2)
        // background: rgba(122,101,104,1)
        border-radius: $borderRadius
        padding: 1em
        // width: 28em
        min-width: 22em
        flex: 1
        height: 12em
        display: flex
        margin: 1em
        p
          margin: 1em
          -ms-line-break: newspaper
        .contactLabels
        .personalContactInfo
      .leaveMesg
        @extend .contacts
        flex-direction: column
        .textArea
          background: $textLight
          width: 100%
          padding: .2em
          border-radius: .3em
        .submitBtn
          margin: 1em -.3em 0em 0
          width: 8em
          align-self: flex-end

.custom-class
  height: 300vh
  position: absolute

.experImg
  height: 300px
  width: 300px

.roses-container
  display: flex
  justify-content: center
  margin: 100px 0px 100px 0px

.roseImg
  width: 200px
  height: 200px
  object-fit: contain

.rose1
  margin-top: 200px
  transform: rotate(200deg)
.rose2
  margin-left: 50px
  margin-top: 200px
  transform: rotate(150deg)
.rose3
  margin-left: 50px
  margin-top: 100px
  transform: rotate(100deg)
.rose4
  margin-left: 50px
  transform: rotate(150deg)
