.introSection
  display: flex
  flex-direction: column
  justify-content: center
  .banner
    z-index: 1
    // flex: 1
    height: $bannerHeight
    display: flex
    align-items: center
    justify-content: center
    background: $bgColor2
    .textContainer
      min-width: 20em
      margin: 0em 1em 0em 1em

      p
        line-height: 1.4em
        text-align: center
        font-size: $fontSizeMed
