.landing-page
  .backgroundImg
    z-index: -1
    height: 100vh
    width: 100vw
    position: fixed
    object-fit: cover

  p
    color: $textLight

  .introSection
    height: 100vh
  @import ./introSection

  .tech-section
    padding: 10vh 0 10vh 0
    height: 100vh
  @import ./techSection

  .project-section
    padding: 10vh 0 10vh 0
    height: 100vh
  @import ./projectSection

  .brief-bio-section
    padding: 10vh 0 10vh 0
    height: 100vh
  @import ./bioSection

  .contacts-section
    height: 100vh
  @import ./contactsSection

  // .border
  //   height: 10px
  //   width: 100%
  //   background-color: #0D0819

  // .bgImage
  //   background-image: url('../../../assets/flowerPatternEditted.jpg')
  //   background-attachment: fixed
  //   background-size: 100vw
