%vhWorkableOnAllBrowsers
  height: 100vh
  // min-height: 100vh
  // min-height: -webkit-fill-available

.backgroundImg
  background-image: url(../../../assets/flowersbgbgBluredDark.png)
  background-repeat: no-repeat
  background-size: 8000px
  background-size: -webkit-fill-available
  object-fit: contain
.backgroundImg2
  top: 0
  bottom: 0
  z-index: -2
  width: 100vw
  z-index: -100
  margin: 0
  position: fixed
  object-fit: cover
  -moz-background-size: cover
  background: url(../../../assets/flowerPatternEditted.jpg) no-repeat fixed
  @extend %vhWorkableOnAllBrowsers

.landing-page
  z-index: 5

  p
    color: $textLight

  @import ./introSection
  .introSection
    @extend %vhWorkableOnAllBrowsers

  @import ./techSection
  .tech-section
    @extend %vhWorkableOnAllBrowsers

  @import ./projectSection
  .project-section
    @extend %vhWorkableOnAllBrowsers
    top: 0
    @media only screen and (max-width: 500px)
      height: $bannerHeight * 3
      // margin: 10em 0 10em 0
    // min-height: -webkit-fill-availablea

  @import ./bioSection
  .brief-bio-section
    @extend %vhWorkableOnAllBrowsers
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    @media only screen and (max-width: 775px)
      flex-wrap: wrap

  @import ./contactsSection
  .contacts-section
    display: flex
    align-items: center
    justify-content: center
    @extend %vhWorkableOnAllBrowsers
