.tech-section
  .techShowcase
    flex: 1
    display: flex
    align-items: center
    .leftCol, .rightCol
      flex: 1
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      .imgContainer
        margin: 40px 0em 40px 0em
        width: 6em
        @media screen and (max-width: 900px)
          width: 4em
        img
          @extend %basicElementHoverReturn
          object-fit: contain
          width: 6em
          height: 6em
          @media screen and (max-width: 900px)
            width: 4em
            height: 4em

          &:hover
            @extend %basicElementHoverProperties
    .midTech
      flex: 2
      display: flex
      flex-direction: column
      align-items: center
      .textContainer
        .mainTechTextContainer
          @extend %basicElementHoverReturn
          &:hover
            @extend %basicElementHoverProperties
          p
            margin-right: 30px
            display: inline
            color: $textColorPrimary
            font-size: $fontSizeMainTech
            font-family: $fontFamilyCursive
            @media screen and (max-width: 900px)
              font-size: 3em
          p.firstLeter
            margin-right: 0
            color: $textLight
