@font-face
  font-family: 'KaushanScript-Regular'
  src: local('KaushanScript-Regular'), url('../assets/fonts/KaushanScript-Regular.ttf') format('truetype')

@font-face
  font-family: 'JosefinSans-Medium'
  src: local('JosefinSans-Medium'), url('../assets/fonts/JosefinSans-Medium.ttf') format('truetype')

$primaryPurple1: #A79AD9
$primaryPurple2: rgba(167, 154, 217, 0.86)
$primaryPurple3: #D1CBF6
$primaryPurple4: #8576BD
$primaryPurple5: #5D3F83
$textPrimary: #986C7F
$lightPurple: #F7F1FF
$primaryTextColor: #340373
$secondary: #44A5FF
$chipColor: #E6E4F5
$borderRadius: .5em
$borderColor: #BDBDBD
$navbarColor: $primaryPurple5

.textPrimary
  color: #CCB7F9
.bodyTxt
  color: white
  font-family: JosefinSans-Medium, sans-serif
.largeText
  @extend .bodyTxt
  font-size: 2.5em
  text-align: center
  line-height: 1.1em
.large-name
  font-size: 6em
  font-family: KaushanScript-Regular
  color: white

ul
  list-style-type: none

.aligning
  justify-content: space-around
  align-items: center

.justifyBetween
  justify-content: space-between

.hFull
  height: 100%

.row
  display: flex
  flex-direction: row
  width: 100%
  .alignItemsStart
    align-items: flex-start
  .justifyCenter
    align-items: center
  .spaceBt
    justify-content: space-between

.column
  display: flex
  flex-direction: column
  width: 100%

%border
  border-color: $borderColor
  border-width: 2px
  border-style: solid

.rotate90
  transform: rotate(90deg)

.spaceRightOfText
  margin: 4em

.chip
  background-color: pink
  margin: .2em

.fontSize1

.absoluteLayer
  position: absolute
  height: 100%
  width: 100%
#hoverEffect
  &:hover
    background-color: rgba(271,283,255,.1)
    transform: scale(1.05)
