%parallaxDimensions
  height: 5000px
  width: 100vw

%hoverProperties
  cursor: pointer
  transform: scale(1.2)
  transition: transform .2s, height 4s
.mouseAwayProps
  transform: scale(1)
  transition: transform .2s, height 4s

.parallax
  @extend %parallaxDimensions

.parallaxTechnologiesSect
  @extend %parallaxDimensions
  height: 120vh

.border
  height: 10px
  width: 100%
  background-color: #0D0819

.landingPage

.firstSection, .landingSection, .BrandSection, .techSection, .projectSection
  height: 100vh
  // margin: 10

.bgImage
  background-image: url('../assets/croppedVerticallyFlowerPattern.jpg')
  height: 100%
  width: 100vw

$parallax-perspective: 8
$parallax-perspective-px: 8px
$parallax-distance: 3
$parallax-distance-px: 3px
$parallax-scale: ($parallax-perspective - $parallax-distance) / $parallax-perspective
.parallax-container
  position: relative
  width: 100vw
  height: 100vh
  overflow-x: hidden
  overflow-y: scroll
  perspective: $parallax-perspective-px
  perspective-origin: 0%
  display: flex
  -webkit-overflow-scrolling: touch
.parallax-bg-image
  position: absolute
  width: 100%
  height: 100%
  transform: translateZ(0px)
  object-fit: cover
.parallax-content
  display: flex
  margin-top: auto
  margin-bottom: 50px
  width: 100%
  transform-origin: 0% 50%
  transform: translateZ($parallax-distance-px) scale($parallax-scale)
  // font-size: 12px
  color: orange

.firstSection

.landingSection
  .imgFrame
    height: 35em
    width: 25em
    border-radius: 10em
    overflow: hidden
    display: flex
    background: white
    .img
      width: 100%
      object-fit: cover
  .paragraphBox
    margin: 2em 0em 2em 0em
    color: white
    width: 40em
    border-radius: 1em
    padding: 1em
    background: rgba(255,255,255,.1)

.BrandSection
  .paragraph
    width: 30em

.techSection
  height: 100vh
  // .parallaxSection
  .row1Parallax, .row2Parallax
    width: 100px
  .furthestToSideCol
    // margin-top: -200px
  .imgContainer
    margin: 4em 0em 4em 0em
    width: 100px
    height: 100px
    img
      transition: transform .2s, height 4s
      object-fit: contain
      width: 100px
      height: 100px
      &:hover
        @extend %hoverProperties
  .rightTech
    align-items: flex-end
    li
      &:nth-child(even)
        margin-right: 10em

  .leftTech
    align-items: flex-start
    li
      &:nth-child(even)
        margin-left: 10em

  .midTech
    width: 380px
    display: flex
    flex-direction: column
    // li
    .item
      width: 380px
      flex: 1
      &:hover
        @extend %hoverProperties
    p
      display: inline
      color: #CCB7F9
      font-size: 7em
    p.firstLeter
      color: white

.projectSection
  margin: 10em 0em 10em 0em
  .frame
    // flex: 1
    img
      object-fit: contain
  .macbook
    width: 50em
  .smartphone
    width: 30em

.projectSection
  .container
    width: 40em
  .frame
    display: flex
    align-items: center
    justify-content: center
    object-fit: contain
    .smartphone
      z-index: 2
    .image
      position: absolute
      width: 200px
      // height: 500px
      object-fit: contain

  .detailsBox
    border-radius: .5em
    padding: 1em 2em 1em 2em
    background-color: rgba(132,132,132,.3)
    margin: 5em 0em 5em 0em
    .messageMarginRight
      margin: 0em 1em 0em 0em
  .justifyBtnRight
    display: flex
    justify-content: flex-end
  .moreSection
    width: 100%
    min-height: 6.5em
    display: flex
    flex-direction: row
    .progressContainer
      flex: 1
      position: relative
      .btnGoToDetailedPg
        position: absolute
        right: 0
        bottom: 0
    .techContainer
      flex: 1
      .chipMargin
        margin: .2em

.footer
  background-color: #29005C
  color: purple
  height: 40em
  display: flex
  flex-direction: column
  .border
    height: 2em
    background-color: grey
  .container
    flex: 1
    margin: 0em -2em 2em 0em
    .messageContainer
      display: flex
      flex-direction: column
      align-items: flex-end
      margin: 3em
      width: 30em
      .message
        width: 28em
        padding: 1em
        height: 10em
        background-color: grey
        border-radius: .5em
      .submitBtn
        width: 8em
        margin: 1em 0em 1em 0em
    .contacts
      margin: 3em
      width: 30em
      height: 15em
      background-color: grey

.custom-class
  height: 300vh
  position: absolute

.experImg
  height: 300px
  width: 300px
