
$bgColor1: rgba(130,110,120,.4)
$bgColor2: #46313c96
// $bgColor1: #815C5C
$primaryColor: #6CAE6B

$textLight: #ffecec
$textDark:  #262626

$fontSizeReg: 1em
$fontSizeMed: 1.3em
$fontSizeLarge: 1.4em
$fontSizeMainTech: 4.5em
$fontSizeName: 4em

$textColorPrimary: #ef9cba
$borderRadius: .5em
$borderColor: #BDBDBD
$bannerHeight: 17em

%border
  border-color: $borderColor
  border-width: 2px
  border-style: solid

%basicElementHoverProperties
  cursor: pointer
  transform: scale(1.2)
  transition: transform .2s, height 4s

%basicElementHoverReturn
  transition: transform .2s, height 4s
