.transparentBtn
  color: $primaryColor
  font-size: 5em
  &:hover
    color: lighten($primaryColor, 10)
.inactiveBtn
  font-size: 5em
  color: #424141

.swipeable-view-btns
  cursor: pointer
  z-index: 50
  width: 6em
  height: 2.5em
  border: 2px solid rgba(157,54,114,.3)
  border-radius: .3em
  color: rgba(228,212,254,.7)
  background: transparent
  outline-style: none
  &:active
    background: #B43240
  &-active
    border-color: #CE394A
    @extend .swipeable-view-btns
    cursor: pointer
    color: #E4D4FE
    background: #CE394A
